site_name: Ross Notes
site_url: https://Ross-Thanscheidt.github.io/ross-notes
repo_url: https://github.com/Ross-Thanscheidt/ross-notes
repo_name: Ross-Thanscheidt/ross-notes

validation:
  links:
    absolute_links: relative_to_docs
  
extra_javascript:
  - https://unpkg.com/mermaid@10.6.1/dist/mermaid.min.js
extra_css:
  - stylesheets/extra.css
theme:
  name: material
  features:
    - content.code.copy
    - navigation.top
    - navigation.indexes
  palette: 

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - toc:
      permalink: true

plugins:
  awesome-pages:
    filename: nav.yml
  exclude:
    glob:
      - snippets/*
  markdown-exec:
  markdownextradata:
  search:
  snippets:
  panzoom:
    full_screen: true
    key: "ctrl"
